<div class="col-md-6 col-lg-4">
    <div class="card">
        <div class="card-header">
            <h2>{% name %}</h2>
            <h3><i class="fas fa-user-graduate"></i> Intern</h3>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">ID: {% id %}</li>
            <li class="list-group-item">Email: <a href="mailto:{% email %}">{% email %}</a></li>
            <li class="list-group-item">School: {% school %}</li>
        </ul>
    </div>
</div>
